
.Calendar {
  color: #ffffff;
  background-color: #354151;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
}

/* Navigation styling */
.Calendar .react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #354151;
  color: #ffffff;
}

/* Weekday styling */
.Calendar .react-calendar__month-view__weekdays {
  background-color: #354151;
  color: #ffffff;
}

/* Tile styling */
.Calendar .react-calendar__tile {
  background-color: transparent;
  color: #ffffff;
}

.Calendar .react-calendar__tile--now {
  background-color: #16a085;
  color: #ffffff;
}

.Calendar .react-calendar__tile--active {
  background-color: #2980b9;
  color: #ffffff;
}

.Calendar .react-calendar__tile--hover {
  background-color: #3498db;
}

.Calendar .react-calendar__month-view__days__day--weekend {
  color: #e74c3c;
}
