.fc-media-screen {
  width: 100%;
}

.fc-toolbar-title {
  font-size: 17px !important;
}

.fc-header-toolbar {
  margin: 10px !important;
  margin-top: 0;
}

.fc-button {
  background: none !important;
  border: none !important;
  color: white !important;
}

.fc-button:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.fc-col-header-cell-cushion {
  font-size: 12px !important;
  color: white !important;
}

.fc-scrollgrid, .fc-scrollgrid-liquid, .fc-theme-standard, td, th {
  border: none !important;
}

.fc-day-today {
  background-color: #2655B0 !important;
}

.fc-daygrid-day-number {
  color: white !important;
  cursor: pointer;
  font-size: 12px !important;
}

.fc-daygrid-day:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.fc-daygrid-day-events {
  display: none;
}

.fc-daygrid-day-top {
  justify-content: center;
}